html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.grid {
  margin: 0 auto;
  width: 235px;
  border: 5px solid black;
}

.cell {
  float: left;
  border-right: 5px solid black;
  width: 75px;
  height: 75px;
  background-color: grey;
}

.cell.o, .cell.x {
  background: white;
}

.cell.x::before, .cell.o::before {
  position: absolute;
  font-size: 60px;
  transform: translateX(35%) translateY(10%);
  color: black;
  width: 50px;
  height: 50px;
}

.cell.x::before {
  content: "X";
}

.cell.o::before {
  content: "O";
}

.cell.unclicked:hover {
  background: yellow;
}

.cell:last-child {
  border-right: 0px;
}

.winner-msg {
  text-align: center;
  font-size: 42px;
}

.title {
  text-align: center;
  font-size: 60px;
}

.row {
  width: 235px;
  height: 75px;
  border-bottom: 5px solid black;
}

.row:last-child {
  border-bottom: 0px;
}
